<!DOCTYPE html>
<html>
<head>
	<title>Test</title>
	<script src="/js"></script>
</head>
<body>

	<h1>Hello Node js</h1>
	<img src="https://pbs.twimg.com/media/DBQYLiFVwAESoJ2.jpg" width="300px" height="300px">

	<h2>What the hell</h2>
	<img src="images/hero_bg_1.jpg">

</body>
</html>